[submodule "ibm-gen-ai-engineering/Phase01/Building Generative AI-Powered Applications with Python/Voice-Assistant-with-OpenAI's-GPT-3/chatapp-with-voice-and-openai-outline"]
	path = ibm-gen-ai-engineering/Phase01/Building Generative AI-Powered Applications with Python/Voice-Assistant-with-OpenAI's-GPT-3/chatapp-with-voice-and-openai-outline
	url = https://github.com/your-username/your-submodule-repo.git